@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Young Serif";
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  /* Outfit Regular */
  @font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-Regular.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  /* Outfit SemiBold */
  @font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-SemiBold.ttf")
      format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  /* Outfit Bold */
  @font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-Bold.ttf")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}
